/*hospital logo*/
#logo {
    width: 190px;
}

.logo-container {
    background-color: white;
    padding: 5px;
}

/*menu bar*/
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.menubar-container {
    background-color: #85C1E9;
    text-align: center;
    padding: 10px;
    font-family: monospace;
    position: sticky;
    top: 0px;
}

.menubar-container ul {
    display: inline-flex;
    list-style: none;
}

.menubar-container ul li {
    width: 165px;
    margin: -4px;
    padding: 15px;
}

.menubar-container ul li a {
    text-decoration: none;
    color: black;
}

.menubar-container ul li:hover {
    background-color: #AED6F1;
    border-radius: 3px;
}

.sub-menu {
    display: none;
}

.menubar-container ul li:hover .sub-menu {
    display: block;
    position: absolute;
    background-color: #85C1E9;
    margin-top: 15px;
    margin-left: -15px;
}

.menubar-container ul li:hover .sub-menu ul {
    display: block;
    margin: 10px;
    color: black;
}

.menubar-container .fas {
    margin-right: 8px;
}

.menubar-container a {
    text-transform: uppercase;
}

.menubar-container ul li:hover .sub-menu ul li {
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted;
    border-radius: 0px;
    text-align: left;
}

.menubar-container ul li:hover .sub-menu ul li:last-child {
    border-bottom: none;
}

/*body*/
body {
    background-color: white;
}

.introduce-container {
    background-blend-mode: darken;
    background-size: cover;
    background-image: url("photo/stiu-building.jpg");
    height: 60vh;
}

.introduce-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    max-width: 50%;
    margin: auto;
    height: 80%;
}

.text-big {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 41px;
    text-align: center;
}

.introduce-content {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center
}

.logo-stamford {
    width: 20%;
    height: 20%;
    margin-left: auto;
    margin-right: auto;
}

.map-container {
    margin-left: 85px;
    display: inline-block;
    width: 600px;
}

.contact-container {
    margin-top: 20px;
    display: inline-flex;
}

#map {
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 10px;
}

/*form*/
.contact-form {
    margin-top: 18px;
    margin-right: auto;
    margin-bottom: 30px;
    width: 46%;
    height: 46%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

#ft-form {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
}

#ft-form,
#ft-form:after,
#ft-form:before {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

#ft-form input {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    padding: 0;
    color: inherit;
}

#ft-form [type="submit"] {
    -webkit-appearance: button;
}

#ft-form .form-container {
    margin: 0;
    padding: 0;
    border: none;
}

#ft-form [type="email"],
#ft-form [type="text"],
textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #fff;
    border-color: #6b7280;
    border-width: 1px;
    border-radius: 0;
    padding-top: .5rem;
    padding-right: .75rem;
    padding-bottom: .5rem;
    padding-left: .75rem;
    font-size: 1rem;
    line-height: 1.5rem;
}

#ft-form [type="email"]:focus,
#ft-form [type="text"]:focus,
textarea:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px rgba(199, 210, 254, .5), 0 0 #0000;
    border-color: #2563eb;
}

#ft-form .form-container {
    font-size: 100%;
}

#ft-form .form-container:first-child {
    margin-top: 0;
}

#ft-form .form-container>* {
    display: block;
    margin-bottom: 1.5rem;
}

#ft-form .form-container>#ft-form .form-container:last-child {
    margin-bottom: 0;
}

#ft-form [multiple],
#ft-form [type="email"],
#ft-form [type="text"],
textarea {
    border-radius: .375rem;
    margin-top: .25rem;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgba(0, 0, 0, .05);
    border-color: #bbb;
    width: 100%;
}

#ft-form [multiple]:focus,
#ft-form [type="email"]:focus,
#ft-form [type="text"]:focus,
textarea:focus {
    border-color: #bbb;
    box-shadow: 0 0 0 0 #fff, 0 0 0 3px rgba(199, 210, 254, .5), 0 0 #0000;
}

#ft-form .btns {
    text-align: right;
}

#ft-form .btns>input[type="submit"] {
    display: inline-block;
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgba(0, 0, 0, .05);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .6rem;
    padding-bottom: .6rem;
    line-height: 1.25rem;
    border-width: 1px;
    border-radius: .375rem;
    border-color: #bbb;
    background-color: #fff;
    cursor: pointer;
    margin-left: .5rem;
    font-weight: 700;
}

#ft-form .btns>input[type="submit"]:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    border-color: #bbb;
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px rgba(199, 210, 254, .5), 0 0 #0000;
}

#ft-form .btns>input[type="submit"] {
    background-color: #D6EAF8;
    transition: background-color .1s;
}

#ft-form .btns>input[type="submit"]:hover {
    background-color: #AED6F1;
}

/*footer*/
footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 25px 100px;
    background: #3e454c;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer a {
    color: #999;
}

footer .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer .footer-container .sec {
    margin-right: 30px;
}

footer .footer-container .f-about-us {
    width: 40%;
}

footer .footer-container h2 {
    position: relative;
    color: #fff;
    font-weight: 500;
    margin-bottom: 15px;
}

footer .footer-container h2:before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0px;
    width: 70px;
    height: 3px;
    background: #5DADE2;
}

footer .footer-container .f-about-us p {
    color: white;
}

.social {
    margin-top: 20px;
    display: flex;
}

.social li {
    list-style: none;
}

.social li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #D6EAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
}

.social li a:hover {
    background: #AED6F1;
}

.social li a .fa {
    color: #fff;
    font-size: 20px;
}

.f-pages {
    position: relative;
    width: 15%;
}

.f-pages ul li {
    list-style: none;
}

.f-pages ul li a {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}

.f-pages ul li a:hover {
    font-weight: bold;
}

.f-contact-info {
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.f-contact-info .contact {
    position: relative;
}

.f-contact-info .contact li {
    display: flex;
    margin-bottom: 16px;
}

.f-contact-info .contact li span:nth-child(1) {
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.f-contact-info .contact li span {
    color: white;
}

.f-contact-info .contact li a:hover {
    color: #fff;
    font-weight: bold;
}

.f-about-us p {
    text-align: justify;
}

.f-contact-info .contact li a {
    color: white;
    text-decoration: none;
}